.hex {
  width: 208px;
  height: 120px;
  background: #13171d;
  position: relative;
  transform: scale(0.34);
}
.hex:before,
.hex:after {
  content: '';
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  position: absolute;
}
.hex:before {
  top: -59px;
  border-bottom: 60px solid #13171d;
}
.hex:after {
  bottom: -59px;
  border-top: 60px solid #13171d;
}
.active.hex {
  background: #fff;
}
.active.hex:before {
  border-bottom: 60px solid #fff;
}
.active.hex:after {
  border-top: 60px solid #fff;
}

.hex.inner {
  background-color: #2a2e33;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hex.inner:before {
  border-bottom: 60px solid #2a2e33;
}
.hex.inner:after {
  border-top: 60px solid #2a2e33;
}
