.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  width: 38px;
  height: 38px;
  transition: transform 0.5s ease-in-out;
}

.bar {
  width: 100%;
  height: 3px;
  transition: all 0.25s ease-in-out;
}

.burger-menu.cross .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.burger-menu.cross .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.cross .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}
